{% extends "base.html" %}
{% block title %}ポスト{% endblock %}

{% block content %}
<div class="container">
    <h1>ポスト</h1>

    <form action="" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            <label for="{{ field.label.id_for_label }}" class="form-label">{{ field.label }}</label>
            <br>
            {{ field }}
            <br>
            {{ field.errors }}
        {% endfor %}
        <br>
        <button type="submit">ポストする</button>
    </form>
</div>
{% endblock %}
