{% extends "base.html" %}
{% block title %}ポスト一覧{% endblock %}

{% block content %}
<div class="container">
    <h1>ポスト一覧</h1>
    <a href="{% url 'accounts:home' %}">ホームに戻る</a>
    <div>
        {% for post in post_list %}
            <p>
                <div>
                    <a href="">{{ user.nickname }}</a>
                    {{ post.content }}
                </div>
                <div>
                    {{ post.created_at }}
                </div>
            </p>
        {% endfor %}
    </div>
</div>
{% endblock %}
