{% extends "base.html" %}
{% block title %}ホーム{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-5"></h1>
    <p>{{ user.nickname }}さん、こんにちは。</p>
    <div>
        <a href="{% url 'profiles:myprof' %}">プロフィール</a>
        <a href="{% url 'posts:list' %}">一覧へ</a>
    </div>
    <div>
        <ul>
            <li>
                <a href="{% url 'posts:create' %}">ポストする</a>
            </li>
        </ul>
    </div>
    
    <div>
        <form action="{% url 'accounts:logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">ログアウト</button>
        </form>
    </div>
    </div>
{% endblock %}
