{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}ログイン{% endblock %}

{% block content %}
<div class="container">
    <h1>ログイン</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            {{ field|add_label_class:"form-label" }}
            <br>
            {{ field|add_class:"form-control" }}
            <br>
            {{ field.errors }}
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-lg btn-primary">ログイン</button>
    </form>

    <div class="text-end">
        <a href="{% url 'accounts:signup' %}" class="link-primary link-offset-2"/>会員登録</a>
    </div>
</div>
{% endblock %}
