<div class="container border">
    <div class="row">
        <div class="col-1"><i class="bi bi-person-circle"></i></div>
        <div class="col-2">
            <div class="w-bold">{{ post.user.nickname }}</div>
        </div>
        <div class="col-8">
            <div class="text-black-50">@{{ post.user.login_id }} {{ post.created_at }}</div>
        </div>
        <div class="row justify-content-end">
            <div class="col-11">{{ post.content | linebreaksbr }}</div>
        </div>
   </div>
</div>

