{% extends "base.html" %}
<!-- {% extends "templates/users/usershome.html" %} -->
{% load widget_tweaks %}
<html>     
     <body>
     {% block usershome_containts %}
          <div>
               {% for lupl in post_list %}
               <div class="row">
                    <div class="col-1"><i class="bi bi-person-circle"></i></div>
                    <div class="col-3">{{ lupl.user.nickname }}</div>
                    <div class="col-3">@{{ lupl.user.login_id }}</div>
                    <div class="col-5">{{ lupl.created_at }}</div>
                    
                    <div class="col-1"></div>
                    <div class="col-11">{{ lupl.content | linebreaksbr }}</div>
               </div>
               {% endfor %} 
          </div>
     {% endblock %}
     </body>
 </html>

 