<div class="row border p-1">
    <div class="col-1">
        {% include "profiles/partials/image.html" with user=post.user %}
    </div>
    <div class="col">
        <div>
            <span class="fw-bolder">
                {{ post.user.nickname }}
            </span>
            <span class="opacity-50">@{{ post.user.login_id }}</span>
            <span class="opacity-50">{{ post.created_at}}</span>
        </div>
        <div>
            {{ post.content|linebreaksbr }}
        </div>
    </div>
</div>
