{% extends "base.html" %}
{% block title %}プロフィール画面{% endblock %}

{% block content %}
<div class="container">
    <h1>プロフィール画面</h1>

    <div>
        <p>
            <div>
                自己紹介: {{ profile.self_introduction }}
            </div>
            <div>
                登録日時: {{ profile.created_at }}
            </div>
            <div>
                更新日時: {{ profile.updated_at }}
            </div>
            {% if user.id == profile.user_id %}
                <br />
                <div>
                    <a href="{% url 'profiles:update' %}">プロフィールを編集する</a>
                </div>
            {% endif %}
        </p>
    </div>
</div>
{% endblock %}
