{% extends "base.html" %}
{% block title %}プロフィール{% endblock %}

{% block content %}
<div class="container">
    <h1>プロフィール</h1>
    <a href="{% url 'accounts:home' %}">ホームに戻る</a>
    <form action="", method = "get">
        <dev>
            <p>ログインID:{{ login_id }}</p>
            <p>ニックネーム: {{ nickname }}</p>
            <p>自己紹介:{{ self_introduction }}</p> 
            <p>項目B</p>
            <p>項目C</p>
        </dev>
        <button type="">
            <a />プロフィールを編集する</a>

        </button>
    </form>
</div>
{% endblock %}
