{% extends "base.html" %}
{% block title %}プロフィール{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ profile.user.nickname }} さんのプロフィール</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            <label for="{{ field.label.id_for_label }}" class="form-label">{{ field.label }}</label>
            <br>
            {{ field }}
            <br>
            {{ field.errors }}
        {% endfor %}
        <br>
        <button type="submit">更新</button>
    </form>
</div>
{% endblock %}
