{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}プロフィール{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ profile.user.nickname }} さんのプロフィール</h1>

    {# classを指定するためだけにテンプレートタグではなくHTMLタグを使用するのは避けたいのだが... #}
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            {{ field|add_label_class:"form-label" }}
            <br>
            {{ field|add_class:"form-control" }}
            <br>
            {{ field.errors }}
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-lg btn-primary">更新</button>
    </form>
</div>
{% endblock %}
