{% extends "base.html" %}
{% block title %}プロフィール画面{% endblock %}

{% block content %}
<div class="container">
    <h1>プロフィール更新画面</h1>

    <form action="" method="post">{% csrf_token %}
        <div>
            <label for="self_introduction">
                <textarea name="self_introduction" rows="5" cols="50">
                    {{ profile.self_introduction }}
                </textarea>
            </label>
        </div>
        <button type="submit" value="Update">更新</button>
    </form>

    <br />
    <a href="{% url 'profiles:my' %}">戻る</a>
</div>
{% endblock %}
