{% extends "base.html" %}
{% block title %}ユーザ詳細{% endblock %}

{% block content %}
  <h1>{{ user.username }}'s Profile</h1>

  {% if user != request.user %}
    {% if user in request.user.following.all %}
      <form action="{% url 'follows:remove_follow' user.id %}" method="POST">
        {% csrf_token %}
        <button type="submit">フォロー中</button>
      </form>
    {% else %}
      <form action="{% url 'follows:add_follow' user.id %}" method="POST">
        {% csrf_token %}
        <button type="submit">フォロー</button>
      </form>
    {% endif %}
  {% endif %}
{% endblock %}
