{% extends "base.html" %}
{% load static %}
{% block title %}{{ user.nickname }} (@{{ user.login_id }}) さんをフォローしているアカウント{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3">
            {% if user.profile.image %}
                <img src="{{ user.profile.image.url }}" class="img-fluid rounded-circle img-thumbnail border-0">
            {% else %}
                <img src="{% static 'image/default/users/profile.svg' %}" class="img-fluid rounded-circle img-thumbnail border-0" style="width: 100%;">
            {% endif %}
        </div>
    </div>

    <h1>
        {{ user.nickname  }}
    </h1>
    <p>
        <span class="opacity-50">@{{ user.login_id }}</span>
    </p>

    <h2>フォロワー</h2>

    <div class="m-3"></div>

    <div>
        {% for follower_user in follower_user_set %}
            {% include "users/partials/user.html" with user=follower_user %}
        {% endfor %}
    </div>
</div>
{% endblock %}
