{% extends "base.html" %}
{% block title %}フォロー一覧{% endblock %}

{% block content %}
<div class="container">
    <h1>
        <a href="{% url 'users:detail' login_id=user.login_id %}" class="link-dark link-underline link-underline-opacity-0">
            {{ user.nickname }}
        </a>
    </h1>
    <p class="opacity-50">@{{ user.login_id }}</p>

    <h2>フォロー中</h2>
    <div>
        {% for user in follows %}
            {% include "users/partials/user.html" %}
        {% endfor %}
    </div>
</div>
{% endblock %}
