{% extends "base.html" %}
{% block title %}{{ user.nickname }} (@{{ user.login_id }}) さんがフォローしているアカウント{% endblock %}

{% block content %}

{% if user.profile.image != null %}
    <img src="{{ user.profile.image.url }}" class="rounded-circle" width="100" height="100"/>
{% else %}
    <i class="bi bi-person-circle" style="font-size: 150px"></i>
{% endif %}

<div class="container">
    <h1>
        {{ user.nickname  }}
    </h1>
    <p>
        <span class="opacity-50">@{{ user.login_id }}</span>
    </p>

    <h2>フォロー中</h2>

    <div class="m-3"></div>

    <div>
        {% for follow_user in follow_user_set %}
            {% include "users/partials/user.html" with user=follow_user %}
        {% endfor %}
    </div>
</div>
{% endblock %}
