{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}ユーザーのホーム画面{% endblock %}

{% block content %}
<div class="user-id mt-3">
    <div class="user-profile row">
        <div class="col-12">
            <h1>{{ profile.nickname }}</h1>
            <p>Login ID: {{ user.username }}</p>
            <p>Introduction: {{ profile.self_introduction }}</p>
        </div>
    </div>
    <div class="posts mt-4 row">
        <h2 class="col-12">Posts</h2>
        {% for post in posts %}
            <div class="post card my-3 col-12">
                <div class="card-body">
                    <h5 class="post-title d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            {% if post.user.profile.icon %}
                                <img src="{{ post.user.profile.icon.url }}" alt="User Icon" class="rounded-circle" width="40" height="40">
                            {% endif %}
                            <span class="ms-2">{{ post.user.profile.nickname }} ({{ post.user.userid }})</span>
                        </div>
                        <small class="text-muted">{{ post.created_at|date:"Y年n月j日 H:i" }}</small>
                    </h5>
                    <p class="card-text">{{ post.content }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}